body {
  margin: auto;
}

/* REMOVING THE X */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.head {
  border: 2px solid black;
  display: flex;
  align-items: center;
  height: 40vh;
  width: 100vw;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1638613067237-b1127ef06c00?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 65%;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

input {
  width: 60%;
}

ul {
  list-style: none;
}

li {
  margin-top: 5%;
}

.env {
  height: auto;
}

.card-block {
  display: none;
  border: 3px solid black;
  border-radius: 5px;
  width: 70vw;
  flex-wrap: wrap;
  margin: auto 2rem;
  justify-content: center;
}

.cards {
  text-align: center;
  border: 1px solid gray;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 5px;
  max-width: 9;
  margin: 5% auto;
}

img {
  margin-bottom: 5%;
  max-width: 70%;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  background-color: aliceblue;
}

main {
  display: flex;
  width: fit-content;
  margin: 5rem auto;
}

.change {
  margin: auto;
}

.btn {
  border-radius: 100%;
  width: fit-content;
  border: none;
  background-color: white;
  padding: 0;
  cursor: pointer;
}

svg.arrow {
  width: 100%;
  transition: width 0.5s;
}

svg.arrow:hover {
  width: 130%;
}

.hidden {
  display: none;
}

.separete {
  margin-top: 10rem;
}

footer {
  width: 100vw;
  background-color: gray;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-bottom: 4rem;
}

.icons {
  margin: auto;
  width: 30%;
  display: flex;
  align-content: center;
}

.icon {
  margin: auto;
  width: 2rem;
}

h2 {
  margin: auto;
}

@media (max-width: 700px) {
  html {
    font-size: 0.7em;
  }

  .arrow {
    width: 40%;
  }

  .cards {
    width: 10em;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 0.4em;
  }

  .card-block {
    width: 70vw;
  }

  .cards {
    font-size: 140%;
  }

  footer {
    font-size: 2.5em;
  }
}

@media (max-width: 400px) {
  .cards {
    width: 10em;
  }
}
